@font-face 
{
    font-family: 'atari';
    src: url('font/atarcc__-webfont.eot');
    src: url('font/atarcc__-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/atarcc__-webfont.woff') format('woff'),
         url('font/atarcc__-webfont.ttf') format('truetype'),
         url('font/atarcc__-webfont.svg#atari_classic_chunkyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {padding: 0px; margin: 0px; }
video {display: block; -webkit-transform: scaleX(-1); transform: scaleX(-1);}
#leftPlayer {color: darkred;}
#rightPlayer {color: navy;}
.score-box {width: 640px; text-align: center; font-family: atari; font-size: 4em;}
.field {position: relative; width: 640px; height: 480px;}

game-ball {width: 20px; height: 20px; border-radius: 10px; background-color: lime; position: absolute;}

range-selector {position: relative; display: inline-block; width: 200px; height: 32px;}
range-selector input{position: absolute; right: 0px; width: 180px;}
range-selector input + input{top:16px;}